.login-container
  - @title="Login"

  .col-md-4
    %strong
      Login Page
    = bootstrap_form_for(@user, url: login_path) do |f|
      %p
        = f.text_field :username
      %br
      %p
        = f.password_field :password
      = f.primary 'Submit Login', method: "post"
    %br
    = link_to "Create Account", new_user_path
