- @title="#{@user.username} Dashboard"
.container-fluid
  .row
    .col-md-8
      %h2 Hello Administrator: 
      = @user.name
      %br
      %h3
      = @user.username
    .col-md-4
      = button_to 'Edit Account', edit_user_path(@user), method: 'get', class: 'btn btn-primary'
      = button_to 'Leave Dashboard', items_path, method: 'get', class: 'btn btn-primary'
      = button_to 'View All Items', admin_items_path, method: 'get', class: 'btn btn-primary'
      = button_to 'Add a New Item', new_admin_item_path, method: 'get', class: 'btn btn-primary'
  .row
    .col-md-8
      = render partial: 'admin/orders/index'
    .col-md-4
      = form_tag(admin_dashboard_path, method: 'get') do |f|
        %p Order Status Filter
        = select_tag("Order Status", options_from_collection_for_select(Order.all, "status", "status"))
        = submit_tag("Filter Orders")