- @title="#{@user.username} Dashboard"
.container-fluid
  .row
    .col-md-8
      %h2
        = "Name: #{@user.name}"
      %br
      %h3
        = "Username: #{@user.username}"
      %br
    .col-md-4
      = button_to "Edit Account", edit_user_path(@user), method: "get", class: "btn btn-primary"
      = button_to "Leave Dashboard", items_path, method: "get", class: "btn btn-primary"
      = button_to 'View Addresses', user_addresses_path(@user, @user.addresses), method: 'get', class:"btn btn-primary"
  .row
    .col-md-12
      = render partial: 'users/orders'
      %br
      = link_to 'View All Past Orders', orders_path
