- @items.in_groups_of(4, false) do |group|
  .card-deck
    - group.each do |item|
      .card
        %img.card-img-top{:alt => "Card image cap", :src => "..."}/
        .card-block
          %h4.card-title
            = item.title
          %p.card-text= item.description
          %p.card-text
            $#{item.price}
        %div{:class => "card-footer item_#{item.id}"}
          = link_to  "#{item.title}", category_item_path(item.category, item), class: "btn btn-success"
          = button_to "Add to Cart", carts_path(item_id: item.id), method: :post, class: "btn btn-default"
= will_paginate @items
