<div class="item-container">
  <strong><%= link_to @item.category.title, category_path(@item.category) %>/<%= @item.title %></strong><br>
  <div class="row">
    <div class="col-md-2 item-picture">
      <%= image_tag @item.image.url(:thumbnail), height: "150", width: "150" %>
    </div>
    <br>
    <div class="col-md-6 item-description">
      <%= @item.description %>
    </div>
  </div>
  </br>
  $<%= @item.price %><br>
  <% if @item.retired? %>
    <button type='button' disabled class: 'btn'>Item Retired</button>
  <% else %>
    <%= button_to "Add to Cart", carts_path(item_id: @item.id), method: :post, class: "btn waves-effect waves-light"%>
  <% end %>
</div>
