<% @items.in_groups_of(4, false) do |group| %>
  <div class="card-deck">
    <% group.each do |item| %>
      <div class="card">
        <%= image_tag item.image.url(:thumbnail) %>
        <div class="card-block">
          <h4 class="card-title"><%= item.title %></h3>
          <p class="card-text"><%= item.description %></p>
          <p class="card-text">$<%= item.price %></p>
        </div>
        <div class="card-footer item_<%= item.id %>">
          <%= link_to  "#{item.title}", category_item_path(item.category, item), class: "btn btn-success" %>
          <%= button_to "Add to Cart", carts_path(item_id: item.id), method: :post, class: "btn btn-default"%>
          <% if current_admin? %>
            <%= link_to "Edit Item", edit_admin_item_path(item), id: "edit_item_#{item.id}"%>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<%= will_paginate @items %>
