<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">(brand image can go here) Little Shop</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">

    <ul class="navbar-nav">
      <% if current_page?(items_path) || current_page?(root_path) %>
        <li class="nav-item active">
      <% else %>
        <li class="nav-item">
      <% end %>
        <a class="nav-link" href="/">Home</a>
      </li>
      <% if current_page?(categories_path) %>
        <li class="nav-item dropdown active">
      <% else %>
        <li class="nav-item dropdown">
      <% end %>
        <a class="nav-link dropdown-toggle" href="/categories" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <% @categories.each do |category| %>
            <%= link_to category.title, category_path(category),  class: "dropdown-item"%>
          <% end %>
        </div>
      </li>
      <% if current_page?(cart_path) %>
        <li class="nav-item active">
      <% else %>
        <li class="nav-item">
      <% end %>
        <a class="nav-link" href="/cart">Cart (<%= @cart.total_count %>) </a>
      </li>
    </ul>
    <ul class="search search-items">
      <%= form_tag(items_path, method: 'get', id: 'search-form') do %>
        <%= text_field_tag(:search, params[:search], placeholder: 'Search Items') %>
        <%= submit_tag('Search', name: nil) %>
      <% end %>
    </ul>
    <ul class="search search-categories">
      <%= form_tag(categories_path, method: 'get', id: 'search-form') do %>
        <%= text_field_tag(:search, params[:search], placeholder: 'Search Category') %>
        <%= submit_tag('Search', name: nil) %>
      <% end %>
    </ul>
    <ul class="navbar-nav ml-auto">
        <% if session[:user_id] %>
          <% user = User.find(session[:user_id]) %>
          <span class="navbar-text">Logged in as <%= link_to "#{user.username}", dashboard_path %></span>
          <li class="nav-item active">
            <%= link_to "Logout", login_path, method: "delete", class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to "Login", login_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Sign Up!", new_user_path, class: "nav-link" %>
          </li>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
