<!-- Dropdown Structure -->
<ul id="dropdown-categories" class="dropdown-content">
  <% @categories.each do |category| %>
    <li><%= link_to category.title, category_path(category),  class: "dropdown-item"%></li>
    <li class="divider"></li>
  <% end %>
</ul>

<ul id="dropdown-categories-mobile" class="dropdown-content">
  <% @categories.each do |category| %>
    <li><%= link_to category.title, category_path(category),  class: "dropdown-item"%></li>
    <li class="divider"></li>
  <% end %>
</ul>

<nav class="nav-extended black">
  <div class="nav-wrapper">
    <a class="brand-logo" href="/">Store</a>
    <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-button" href="/categories" data-beloworigin="true" data-activates="dropdown-categories">Categories<i class="material-icons right">arrow_drop_down</i></a></li>
      <% if session[:user_id] %>
        <% user = current_user %>
        <li><%= link_to "Dashboard", dashboard_path %></li>
        <li class="active">
          <%= link_to "Logout", login_path, method: "delete" %>
        </li>
      <% else %>
        <li class="active">
          <%= link_to "Login", login_path %>
        </li>
        <li class="active">
          <%= link_to "Sign Up!", new_user_path %>
        </li>
      <% end %>
      <% if current_page?(cart_path) %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to "Cart #{@cart.total_count}", cart_path %>
      </li>
    </ul>
    <ul class="side-nav" id="mobile-menu">
      <li><a class="dropdown-button-2" href="/categories" data-beloworigin="true" data-activates="dropdown-categories-mobile">Categories<i class="material-icons right">arrow_drop_down</i></a></li>
      <% if session[:user_id] %>
        <% user = current_user %>
        <li>Logged in as <%= link_to "#{user.username}", dashboard_path %></li>
        <li class="active">
          <%= link_to "Logout", login_path, method: "delete"  %>
        </li>
      <% else %>
        <li class="active">
          <%= link_to "Login", login_path %>
        </li>
        <li class="active">
          <%= link_to "Sign Up!", new_user_path %>
        </li>
      <% end %>
      <% if current_page?(cart_path) %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <%= link_to "Cart #{@cart.total_count}", cart_path %>
      </li>
    </ul>
  </div>
  <div class="nav-content">
    <%= form_tag(items_path, method: "get", id: "search autocomplete", type: "search", class: "autocomplete inputFields") do %>
      <div class="input-field">
        <input name="search" id="search autocomplete" type="search" class="search_items autocomplete inputFields" autocomplete="off">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    <% end %>
    </form>
  </div>
</nav>

<%# js goes below %>
<script>
  $( document ).ready(function() {
    $(".dropdown-button").dropdown();
    $(".dropdown-button-2").dropdown();
    $(".button-collapse").sideNav();
    $('input.autocomplete').autocomplete({ 
      data:
      <%= raw render "shared/items.json" %>
    })
  });
</script>
