<% @title="Order Number #{@order.id}" %>
<%= "Order id: #{@order.id}" %><br>
<table class="table-striped">
  <tr>
    <td>Item</td>
    <td>Quantity</td>
    <td>Line price</td>
  </tr>
  <% @order.contained_items.each do |item, quantity| %>
    <tr>
      <td><%= item.title %> </td>
      <td>x<%= quantity  %></td>
      <td><%= number_to_currency(item.price*quantity) %></td>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td>Total Price:</td>
    <td>$<%= @order.total_price %></td>
  </tr>
</table>
Order Status: <%= @order.status.capitalize %>
