<% @title="Cart" %>
<div class="row cart-container">
  <div class="col-md-6 card-deck">
    <% @cart.contents.each do |item_id, quantity| %>
      <% item = Item.find(item_id) %>
            <div class="card item_<%= item.id %>">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title"><%= item.title %></h4>
                <p class="card-text"><%= item.description %></p>
                <p class="card-text">Price: $<%= item.price %></p>
              </div>
              <div class="card-footer">
                <div>Quantity: <%= @cart.contents[item_id] %></div>
                <div>Subtotal: $<%= @cart.dollar_subtotal(item) %></div>
                <%= button_to  "#{item.title}", item_path(item), class: "btn btn-success", method: :get %>
                <%= button_to "Reduce quantity", cart_decrement_path(item_id: item.id), class: "btn btn-default", method: :patch %>
                <%= button_to "Increase quantity", cart_increment_path(item_id: item.id), class: "btn btn-default", method: :patch %>
                <%= button_to  "Remove", cart_path(item_id: item.id), class: "btn btn-default", method: :delete %>
              </div>
            </div>
    <% end %>
  </div>
  <div class="offset-md-2 cart-summary-container">
    <div>Total: $<%= @cart.total_dollar_amount %></div>
    <% if !user_is_authenticated? %>
      <%= link_to "Login or Register to Checkout", login_path %>
    <% else %>
      <%= button_to "Checkout", new_charge_path, class: "btn btn-success" %>
    <% end %>
  </div>
</div>
