<div class="row">
  <div class="col-md-4">
    <% @cart.contents.each do |item_id, quantity| %>
      <% item = Item.find(item_id) %>
            <div class="item-container item_<%= item.id %>">
              <%# <%= item.image_url %1> %>
              <strong> <%= item.title %></strong><br>
              <%= item.description %>
              <br>
              $<%= item.price %>
              <div>Quantity: <%= @cart.contents[item_id] %></div>
              <div>Subtotal: $<%= @cart.dollar_subtotal(item) %></div>
              <%= button_to  "#{item.title}", item_path(item) %>
              <%= button_to "Reduce quantity", cart_decrement_path(item_id: item.id), method: :patch %>
              <%= button_to "Increase quantity", cart_increment_path(item_id: item.id), method: :patch %>
              <%= button_to  "Remove", cart_path(item_id: item.id), method: :delete %>
            </div>
    <% end %>
  </div>
  <div class="offset-md-4 cart-summary-container">
    <div>Total: $<%= @cart.total_dollar_amount %></div>
  </div>
</div>
