<!DOCTYPE html>
<html>
  <head>
    <title>Little Shop | <%= @title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="col-md-12 main-view">
      <% flash.each do |type, message| %>
        <%= content_tag :div, sanitize(message), class: type %>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
