!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      Little Shop | #{@title}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    = render partial: 'shared/navbar'
    .col-md-12.main-view
      - flash.each do |type, message|
        = content_tag :div, sanitize(message), class: type
      = yield
    = render partial: 'shared/footer'

